/*app styles*/
.root-container{ display:inline-flex; }
.app{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    column-gap: 5px;
    min-width:500px;
    max-width:800px;
}
.app-user-view{
    border-style: outset;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
.app-nav-view{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    height:100%;
}
.app-router-view{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}
.manager-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.manager-grid-item{
    justify-self: left;
    text-align: left;
}
.data-grid{
    display: grid;
    grid-template-columns: auto;
    overflow-y: auto;
}
.data-grid-item{ text-align: left; }

