/*quick formats*/
.tab{ margin-left: 20px; }
.block { display: block; }
/*text styles */
.growth{ color: red; } .prices_and_inflation{ color: indianred; }
.interest_rates{color: tomato} .employment{ color: lightcoral; }
.income_and_expenditure{ color:lightsalmon; } .debt{ color: orange;}
.other_indicators{ color:darkgoldenrod}
.title{ font-size:150%; color: darkblue; }
.sub-title{ font-size:135%; color:midnightblue; }
/*container styles*/
.container{
    border-style: outset;
    border-width: 2px;
    border-color: midnightblue;
    min-width: 480;
}
.app{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    column-gap: 5px;
    max-width:800px;
}
.app-user-view{
    border-style: outset;
    border-color: royalblue;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
.app-nav-view{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}
.app-router-view{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.app-logger-view{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.manager-grid{
    border-style: inset;
    border-width: 2px;
    border-color: darkblue;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.manager-grid-item{
    justify-self: left;
    text-align: left;
    float: left;
}
.data-preview{
    border-style: solid;
    border-color: lightseagreen;
    text-align: center;
}
.data-grid{
    border-style: groove;
    border-width: 2px;
    border-color:mediumblue;
    display: grid;
    grid-template-columns: auto auto;
    max-height:400px;
    overflow-y: auto;
}
.data-grid-item{
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: mediumblue;
}
.logger-display{
    border-style: solid;
    border-width: 2px;
    border-color: rebeccapurple;
    overflow-y: auto;
    max-height: 200px;
}
.logger-title{
    font-size: 150%;
    color: purple;
    border-style: solid;
    border-width: 2px;
    border-color: purple;
}


