<div id = "economic-app" class = "container" ng-controller = "quandl_stat_controller as sample">
    <div class = "title tab">Finneas Stockholm: Economic Data</div>
    <table>
        <tr>
            <div class = "manager-grid">
                <select class = "manager-grid-item" ng-model = "sample.selection">
                    <option ng-repeat = "value in sample.codes.growth">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.prices_and_inflation">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.interest_rates">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.employment">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.income_and_expenditure">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.debt">{{value.code}}</option>
                    <option ng-repeat = "value in sample.codes.other_indicators">{{value.code}}</option>
                </select>
                <input class = "manager-grid-item" id = "add-enabled" type ="button" value = "Add Statistic"
                    ng-if = "sample.selection" ng-click = "sample.addStatistic()">
                <input class = "manager-grid-item" id = "add-disabled" type ="button" value = "Add Statistic"
                    ng-if = "!sample.selection" disabled>
                <input class = "manager-grid-item" id = "clear-enabled" type = "button" value = "Clear Statistics"
                    ng-if = "sample.clearable" ng-click = "sample.clearStatistics()">
                <input class = "manager-grid-item" id = clear-disable type = "button" value = "Clear Statistics" 
                    ng-if = "!sample.clearable" disabled>
            </div>
            <div class ="data-preview" ng-if = "sample.selection">{{sample.getDescription(sample.selection)}}</div>
        </tr>
        <tr>
            <div ng-if = "sample.statistics.stats.length === sample.stat_add_clicks && sample.stored">
                <div class = "sub-title tab">Statistics</div>
                <div class = "data-grid">
                    <div class ="data-grid-item" ng-repeat="stat in sample.statistics.stats">
                        <economic-item code ="stat" 
                                    value = "sample.getStoredValue(stat)" 
                                    date = "sample.getStoredDate(stat)"
                                    desc = "sample.getDescription(stat)"></economic-item>
                    </div>
                </div>
            </div>
        </tr>
    </table>

</div>