<div id = "equity-app" class = "container" ng-controller = "quandl_price_controller as market">
    <div class = "title tab">Finneas Stockholm: Equity Data</div>
    <table>
        <tr><td>
            <form name ="equityForm" ng-submit="market.addToPortfolio()">
                <select ng-model = 'market.selection' ng-required="true"
                    ng-options = 'ticker.code for ticker in market.tickers'>
                    <option value = "">Please Select A Ticker</option> 
                </select>
                <input id = "add-enabled" type = "submit" value = "Add Stock"
                    ng-disabled = "equityForm.$invalid" >
                <input type = "button" value = "Clear Portfolio"
                    ng-disabled= "!market.clearable">
            </form>
        </td></tr>

        <tr><div class ="data-preview" ng-if = "market.selection">{{market.getPriceDescription(market.selection.code)}}</div></tr>

        <tr><td>
            <div ng-if = "market.portfolio.tickers.length === market.portfolio_add_clicks && market.stored">
                <div class = "sub-title tab">Portfolio</div>
                <div class = "data-grid">
                    <div class = "data-grid-item" ng-repeat = "holding in market.portfolio.tickers">
                        <equity-item ticker = "holding" 
                                    price = "market.getStoredPrice(holding)" 
                                    desc = "market.getPriceDescription(holding)"
                                    date = "market.getStoredDate(holding)"></stock-item>
                    </div>
                </div>
            </div>
        </td></tr>
    </table>
</div>