<div class = "parent-fill">
    <div class = "title tab">Finneas Stockholm</div>
    <div class = "sub-title double-tab quarter-fade">Home Page</div><br>
    <div class ="child-fill note full-padding">
        <span class = "tab reverse-tab block">Welcome to Finneas Stockholm! This web application provides live equity prices and analysis,<br>
        in addition to an assortment of other, up-to-date economic statistics and estimates.<br><br>
        
        Have a look around and enjoy!</span><br>
    </div>
</div>