<html>
    <head>
        <title>Finneas Stockholm</title>
        <!--Styles-->
        <link rel="stylesheet" type = "text/css" href="app-styles.css">
        <link rel="stylesheet" type = "text/css" href="text-styles.css">
        <link rel="stylesheet" type = "text/css" href="themes.css">
        <link rel="stylesheet" type = "text/css" href="debug-styles.css">
        <link rel="stylesheet" type = "text/css" href="helper-styles.css">
        <!--Angular-->
        <script src = "angular.min.js"></script> 
        <script src = "angular-route.min.js"></script>
        <!--Config-->
        <script src = "config.js"></script>
        <!--Factories-->
        <script src = "logger_factory.js"></script>
        <script src = "context_factory.js"></script>
        <script src = "app_factory.js"></script>
        <script src = "price_factory.js"></script>
        <!--Controllers-->
        <script src = "logger_controller.js"></script>
        <script src = "app_controller.js"></script>
        <script src = "price_controller.js"></script>
        <script src = "analysis_controller.js"></script>
        <script src = "stat_controller.js"></script>
        <!--Modules-->
        <script src = "main_module.js"></script>
        <script src = "factory_module.js"></script>
        <script src = "controller_module.js"></script>
        <script src = "component_module.js"></script>
        <script src = "router_module.js"></script>
        <script src = "filter_module.js"></script>
    </head>

    <body ng-app = "finneas_stockholm"  ng-controller = "app_controller as appctrl">
        <div class = "root-container root-fill">
            <div class = "app">
                <user-info class = "app-user-view parent-fill"></user-info>
    
                <div id="nav-bar" class = "app-nav-view nav-bar-fill">
                    <div class = "sub-title tab quarter-fade">Nav Bar</div>
                    <a href ="#!/welcome" class = "double-tab" ng-click="appctrl.navbarClick()">Home</a>
                    <a href="#!/portfolio" class = "tab" ng-click="appctrl.navbarClick()">Equity Data</a>
                    <a href="#!/economic" class = "tab" ng-click="appctrl.navbarClick()">Economic Data</a>
                </div>
        
                <div class = "app-router-view" ng-view></div>
            
            </div>

        </div>

        <span class = "app-logger-view" ng-if="appctrl.debug">
            <logger></logger>
        </span>

    </body>

</html>