<table class = "child-fill fit-width-to-parent">
    <tr><td>Name: {{$ctrl.desc}}</td></tr>
    <tr><td>Ticker: {{$ctrl.ticker}}</td></tr>
    <tr><td>
        <span ng-show = "$ctrl.date !== 'cannot find'">Date: {{$ctrl.date}}</span>
        <span ng-show = "$ctrl.date === 'cannot find'">ERROR</span>
    </td></tr>
    <tr><td>
        <span ng-show = "$ctrl.price !== 'cannot find'">Price: {{$ctrl.price | currency}}</span>
        <span ng-show = "$ctrl.price === 'cannot find'">Ticker Not Available</span>
    </td></tr>
</table>
