<table class = "child-fill fit-width-to-parent" 
    ng-controller = "analysis_controller as analysis"
    ng-init = "analysis.ticker = $ctrl.ticker"
>
    <tr><td>Name: {{$ctrl.desc}}</td></tr>
    <tr><td>Ticker: {{$ctrl.ticker}}</td></tr>
    <tr><td>
        <span ng-show = "$ctrl.date !== 'cannot find'">Date: {{$ctrl.date}}</span>
        <span ng-show = "$ctrl.date === 'cannot find'">ERROR</span>
    </td></tr>
    <tr><td>
        <span ng-show = "$ctrl.price !== 'cannot find'">Price: {{$ctrl.price | currency}}</span>
        <span ng-show = "$ctrl.price === 'cannot find'">Ticker Not Available</span>
    </td></tr>
    <tr><td>
        <span ng-if = "analysis.analyzed">
            <span ng-if = "analysis.MA20">MA(20): {{analysis.MA20}}</span>
        </span>
    </td></tr>
    <tr>
        <td>
            <input type ="button" value ="Analyze" class = "justify-right"
                 ng-click = 'analysis.analyze()'>
        </td>
    </tr>
</table>

